body{
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
    color: #fff;
}

.box--blue{
    background-color: blue;
    top: 20px;
    left: 250px;
}