body{
    background-color: red;
    margin: 0;

}


.box   {
    width: 400px;
    height: 400px;
    background: linear-gradient(#0009, transparent);
    margin: 0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;


}

h1{
    margin: 0;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}

img{
    width: 300px;
}