h1{
    color: aqua;
}
/* CUANDO PASAMOS EL MOUSE POR ENCIMA DEL H1 */
h1:hover{
    color: #FFFF;
    background-color: blue;
}

/* cuando damos click h1 */
h1:active {
    background-color: bisque;
    color: aquamarine;
}

/* seleccionando el primer li  */
li:first-child{
    color: red;
}

/* seleccionando el segundo elemento */
li:nth-child(2){
    color: green;
}



/* seleccionando el ultimo li   */
li:last-child{
    color: blue;
}