
body{
    margin: 0;
    background-color: #342c2c;
    font-family: sans-serif;
}

.title-formulario{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 22px;
}


form{
    background-color: #342c2c;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 55px #fff2;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;

}


.form-input{
    padding: 10px 20px;

}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 3px solid #999;
    box-shadow: 0 0 15px #342c2c;
    background-color: transparent;
    border-radius: 9px;
    color: #eee;
}


/*lo que hace que el texarea no crezca mas que los parametos que le pusimos al min-height, ect..*/
textarea{
    min-width: 100%; /* MINIMO DE ANCHO*/
    resize: vertical;
    min-height: 100px; /*MINIMO DE ALTO*/
    max-height: 200px;  /*MAXIMO DE ALTO*/
    font-family: sans-serif;
}