div{
    padding: 20px;
}

h1::first-letter{
    color: red;
    font-size: 3em;
    letter-spacing: -8px;
}


div::first-line{
    color: red;
    font-weight: bold;
}


input::placeholder  {
    color: green;
    background-color: #fff;

}

li::marker {
    color: red;
}

input{
    border-radius: 5px;

}