td, th {
    border: 1px solid #000;
    padding: 6px;
    padding-bottom: 9px;
    font-family: sans-serif;
    border: none;
    border-top: 2px solid rgb(36, 138, 36);
}

table{
    width: 100% ;
    text-align: center;
    border-spacing: 12px;
    max-width: 500px;
    margin: auto;
    border: 2px solid  rgb(36, 138, 36);
    box-shadow: 0 0 20px  rgb(36, 138, 36);
}